Repository Dedzsinator/pyHMSSQL, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, shared, documentation, workflow, dependencies

.github/labeler.yml:

# Configuration for the GitHub Labeler Action
# https://github.com/actions/labeler

client:
  - client/**/*

server:
  - server/**/*

shared:
  - shared/**/*

documentation:
  - "**/*.md"
  - docs/**/*

# Add 'workflow' label to any changes in workflow files
workflow:
  - .github/**/*

# Add 'dependencies' label to any changes to requirements.txt
dependencies:
  - requirements.txt

release-drafter fix
  .github/release-drafter.yml
Labels: workflow

more workflow...
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  tests/test_ddl/test_index_ops.py
  tests/test_ddl/test_tables_ops.py
  tests/test_transactions/test_concurrency.py
  tests/test_transactions/test_transaction_manager.py
Labels: workflow

readme update and new scripts.
  .github/scripts/changelog.yml
  .github/scripts/documentation.yml
  README.md
  server/catalog_manager.py
Labels: server, documentation, workflow

fixing some linting
  .github/workflows/lines.yml
  README.md
  server/execution_engine.py
  server/query_processor/dml_executor.py
  server/utils/sql_helpers.py
Labels: server, documentation, workflow

more fixing
  .github/workflows/lines.yml
  server/execution_engine.py
Labels: server, workflow

added more tests for the indexes and joins, theoretically all passed, still 2 remained.
  results.log
  server/catalog_manager.py
  server/ddl_processor/index_manager.py
  server/ddl_processor/schema_manager.py
  server/ddl_processor/view_manager.py
  server/parser.py
  server/parsers/condition_parser.py
  server/query_processor/aggregate_executor.py
  server/query_processor/dml_executor.py
  server/transaction/transaction_manager.py
  shared/utils.py
  tests/conftest.py
  tests/test_execution/test_dml_executor.py
  tests/test_execution/test_indexes.py
  tests/test_execution/test_join_executor.py
  tests/test_integration/test_query_lifecycle.py
  tests/test_parser/test_dml_parser.py
Labels: server, shared

fixed a problem when inserted everything twice (im dumb) and tested almost everything with indexes, need to look into visualizations.
  README.md
  server/catalog_manager.py
  server/ddl_processor/schema_manager.py
  server/execution_engine.py
  server/planner.py
  server/query_processor/dml_executor.py
  server/query_processor/select_executor.py
Labels: server, documentation

working on linting.
  .github/workflows/codeql.yml
  .github/workflows/lines.yml
  README.md
  join_err.log
  server/bptree.py
  server/catalog_manager.py
  server/ddl_processor/schema_manager.py
  server/optimizer.py
  server/parser.py
  server/planner.py
  server/query_processor/select_executor.py
  server/utils/visualizer.py
Labels: server, documentation, workflow

trying to add a new feature (aaand testing github CI)
  README.md
  client/cli_client.py
  server/bptree_visualizer.py
  server/query_processor/join_executor.py
  server/query_processor/select_executor.py
  server/server.py
  server/transaction/transaction_manager.py
  server/utils/visualizer.py
Labels: client, server, documentation

Join algorithms and joins are working
  README.md
  join_err.log
  server/catalog_manager.py
  server/execution_engine.py
  server/optimizer.py
  server/parser.py
  server/planner.py
  server/query_processor/join_executor.py
Labels: server, documentation

trying to fix the lasts bits, the minimum reqs are basically done
  README.md
  join_err.log
  server/catalog_manager.py
  server/execution_engine.py
  server/parser.py
  server/query_processor/dml_executor.py
  server/query_processor/select_executor.py
Labels: server, documentation

very early version of working java gui frontend
  README.md
  client/cli_client.py
  client/java_client/src/main/java/com/pyhmssql/client/main/App.java
  client/java_client/src/main/java/com/pyhmssql/client/main/ConnectionManager.java
  client/java_client/src/main/java/com/pyhmssql/client/main/MainWindow.java
  client/java_client/src/main/java/com/pyhmssql/client/main/QueryBuilder.java
  client/java_client/src/main/java/com/pyhmssql/client/views/DbExplorer.java
  client/java_client/src/main/java/com/pyhmssql/client/views/IndexVisualizerView.java
  client/java_client/src/main/java/com/pyhmssql/client/views/LoginPanel.java
  client/java_client/src/main/java/com/pyhmssql/client/views/QueryEditor.java
  client/java_client/src/main/java/com/pyhmssql/client/views/TransactionPanel.java
  client/java_client/src/main/java/com/pyhmssql/client/views/UserPreferencesDialog.java
  server/catalog_manager.py
  server/ddl_processor/schema_manager.py
  server/parser.py
Labels: client, server, documentation

fixed the bug for the foreign key constraints.
  README.md
  client/cli_client.py
  client/java_client/src/main/java/com/pyhmssql/client/main/MainWindow.java
  client/java_client/src/main/java/com/pyhmssql/client/views/DbExplorer.java
  client/java_client/src/main/java/com/pyhmssql/client/views/IndexVisualizerView.java
  client/java_client/src/main/java/com/pyhmssql/client/views/LoginPanel.java
  client/java_client/src/main/java/com/pyhmssql/client/views/QueryEditor.java
  client/java_client/src/main/java/com/pyhmssql/client/views/VisualQueryBuilder.java
  client/java_client/src/main/resources/css/sql-highlighting.css
  server/catalog_manager.py
  server/ddl_processor/schema_manager.py
  server/parser.py
  server/planner.py
  server/query_processor/dml_executor.py
Labels: client, server, documentation

added batch script command
  README.md
  client/a.sql
  client/cli_client.py
Labels: client, documentation

Added, optimized B+ tree (RECHECK CREATE INDEX!!!!)
  README.md
  requirements.txt
  server/benchmark.py
  server/bptree.py
  server/bptree_adapter.py
  server/bptree_optimized.c
  server/bptree_optimized.cpython-313-x86_64-linux-gnu.so
  server/bptree_optimized.pyx
  server/bptree_wrapper.py
  server/build/lib.linux-x86_64-cpython-313/bptree_optimized.cpython-313-x86_64-linux-gnu.so
  server/build/temp.linux-x86_64-cpython-313/bptree_optimized.o
  server/build_bptree.sh
  server/catalog_manager.py
  server/insertion_rate_by_batch.png
  server/insertion_time_by_batch.png
  server/insertion_time_comparison.png
  server/operation_rates.png
  server/setup.py
  server/speedup_comparison.png
  server/test.py
Labels: server, documentation, dependencies

added REST API (NEEDS Testint)
  README.md
  client/java_client/pom.xml
  client/java_client/src/main/java/com/pyhmssql/client/rest/RestApiClient.java
  client/rest_api_test.py
  join_err.log
  server/insertion_rate_by_batch.png
  server/insertion_time_by_batch.png
  server/rest_api.py
  server/server.py
  todo.md
Labels: client, server, documentation

working on transactions. FIXED: delete and update (again)
  server/catalog_manager.py
  server/execution_engine.py
  server/parser.py
  server/planner.py
  server/server.py
  server/transaction/transaction_manager.py
Labels: server

simple transaction systeme works (NEEDS TESTING)
  README.md
  server/catalog_manager.py
  server/query_processor/dml_executor.py
  server/server.py
  server/transaction/transaction_manager.py
Labels: server, documentation

caching works also added LoC badge
  .github/workflows/lines.yml
  README.md
  client/cli_client.py
  client/java_client/src/main/java/com/pyhmssql/client/utils/SQLFormatter.java
  extra/opeation_flow
  extra/replication_flow
  server/bptree_optimized.c
  server/bptree_optimized.cpython-313-x86_64-linux-gnu.so
  server/bptree_optimized.pyx
  server/buffer_pool_manager.py
  server/build/lib.linux-x86_64-cpython-313/bptree_optimized.cpython-313-x86_64-linux-gnu.so
  server/build/temp.linux-x86_64-cpython-313/bptree_optimized.o
  server/catalog_manager.py
  server/insertion_rate_by_batch.png
  server/insertion_time_by_batch.png
  server/operation_rates.png
  server/optimizer.py
  server/planner.py
  server/scaler.py
  server/server.py
  server/table_stats.py
  shared/utils.py
Labels: client, server, shared, documentation, workflow

fixing devops...
  server/catalog_manager.py
Labels: server

devops plus the last commands
  .github/hooks/pre-commit
  .pylintrc
  README.md
  client/cli_client.py
  server/benchmark.py
  server/bptree_adapter.py
  server/bptree_optimized.c
  server/bptree_optimized.pyx
  server/bptree_visualizer.py
  server/bptree_wrapper.py
  server/catalog_manager.py
  server/execution_engine.py
  server/optimizer.py
  server/query_processor/dml_executor.py
  server/query_processor/select_executor.py
  server/rest_api.py
  server/scaler.py
  server/server.py
  server/table_stats.py
  server/test.py
Labels: client, server, documentation, workflow

Disabled cahing cause i dont know what to cache.
  server/buffer_pool_manager.py
  server/catalog_manager.py
  server/execution_engine.py
  server/index_manager.py
  server/optimizer.py
  server/planner.py
  server/query_processor/dml_executor.py
  server/query_processor/select_executor.py
  server/scaler.py
  server/server.py
  server/table_stats.py
Labels: server

working set operations...
  README.md
  server/execution_engine.py
  server/planner.py
Labels: server, documentation

working distinct
  README.md
  server/execution_engine.py
  server/parser.py
  server/planner.py
Labels: server, documentation

added autocomplete, trying to add batch inserts.
  README.md
  client/a.sql
  client/cli_client.py
  server/bptree_adapter.py
  server/catalog_manager.py
  server/execution_engine.py
  server/parser.py
  server/parsers/condition_parser.py
  server/planner.py
  server/server.py
  server/utils/sql_helpers.py
Labels: client, server, documentation

added GOOD batch insert.
  README.md
  client/cli_client.py
  server/parser.py
  server/planner.py
Labels: client, server, documentation

added good show and added good insert (optimized)
  README.md
  client/a.sql
  server/catalog_manager.py
  server/ddl_processor/schema_manager.py
  server/execution_engine.py
  server/parser.py
  server/planner.py
  server/query_processor/dml_executor.py
Labels: client, server, documentation

added compound indexes
  README.md
  server/catalog_manager.py
  server/ddl_processor/schema_manager.py
  server/execution_engine.py
  server/parser.py
  server/planner.py
  server/query_processor/dml_executor.py
Labels: server, documentation

everything works
  README.md
  client/cli_client.py
  server/bptree_optimized.c
  server/bptree_optimized.cpython-313-x86_64-linux-gnu.so
  server/bptree_optimized.pyx
  server/build/lib.linux-x86_64-cpython-313/bptree_optimized.cpython-313-x86_64-linux-gnu.so
  server/build/temp.linux-x86_64-cpython-313/bptree_optimized.o
  server/catalog_manager.py
  server/ddl_processor/index_manager.py
  server/execution_engine.py
  server/parser.py
  server/query_processor/dml_executor.py
  server/server.py
  server/utils/visualizer.py
Labels: client, server, documentation

fixed show, added codeql for java and fixed aggregates
  .github/workflows/codeql.yml
  README.md
  docs/opeation_flow
  docs/presentation.tex
  docs/replication_flow
  server/execution_engine.py
  server/parser.py
  server/planner.py
  server/query_processor/aggregate_executor.py
  server/server.py
Labels: server, documentation, workflow

b+ tree
  README.md
  server/bptree_optimized.pyx
Labels: server, documentation

added metrics, its finished for now. The stats are damn good.
  .gitignore
  README.md
  client/a.sql
  docs/presentation.tex
  results.log
  server/bptree_optimized.c
  server/bptree_optimized.cpython-313-x86_64-linux-gnu.so
  server/bptree_optimized.pyx
  server/build/lib.linux-x86_64-cpython-313/bptree_optimized.cpython-313-x86_64-linux-gnu.so
  server/build/temp.linux-x86_64-cpython-313/bptree_optimized.o
Labels: client, server, documentation

fixed the join tests return (it was painful)
  README.md
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/setup-config
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/stack-build-caches/61e1d6b6b8a52e8ead991db50d586d4970da24748b9717067065a6beb758f66e/exe-hsqlparser
  server/.stack-work/stack.sqlite3
  server/catalog_manager.py
  server/execution_engine.py
  server/parser.hs
  server/parser.py
  server/planner.py
  server/profiler.py
  server/query_processor/join_executor.py
  server/server.py
Labels: server, documentation

demo added (iffy at best)
  client/cli_client.py
  client/demo.sql
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/build/Paths_hsqlparser.dyn_hi
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/build/Paths_hsqlparser.dyn_o
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/build/Paths_hsqlparser.hi
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/build/Paths_hsqlparser.o
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/build/autogen/Paths_hsqlparser.hs
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/build/autogen/cabal_macros.h
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/build/libHShsqlparser-0.1.0.0-6kVXX5siyil3nyrXDk8K0W-ghc9.4.8.so
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/build/libHShsqlparser-0.1.0.0-6kVXX5siyil3nyrXDk8K0W.a
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/package.conf.inplace/hsqlparser-0.1.0.0-6kVXX5siyil3nyrXDk8K0W.conf
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/package.conf.inplace/package.cache
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/setup-config
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/stack-build-caches/61e1d6b6b8a52e8ead991db50d586d4970da24748b9717067065a6beb758f66e/exe-hsqlparser
  server/.stack-work/dist/x86_64-linux-tinfo6/ghc-9.4.8/stack-build-caches/61e1d6b6b8a52e8ead991db50d586d4970da24748b9717067065a6beb758f66e/lib
  server/.stack-work/install/x86_64-linux-tinfo6/61e1d6b6b8a52e8ead991db50d586d4970da24748b9717067065a6beb758f66e/9.4.8/installed-packages/hsqlparser-0.1.0.0
  server/.stack-work/install/x86_64-linux-tinfo6/61e1d6b6b8a52e8ead991db50d586d4970da24748b9717067065a6beb758f66e/9.4.8/lib/x86_64-linux-ghc-9.4.8/hsqlparser-0.1.0.0-6kVXX5siyil3nyrXDk8K0W/Paths_hsqlparser.dyn_hi
  server/.stack-work/install/x86_64-linux-tinfo6/61e1d6b6b8a52e8ead991db50d586d4970da24748b9717067065a6beb758f66e/9.4.8/lib/x86_64-linux-ghc-9.4.8/hsqlparser-0.1.0.0-6kVXX5siyil3nyrXDk8K0W/Paths_hsqlparser.hi
  server/.stack-work/install/x86_64-linux-tinfo6/61e1d6b6b8a52e8ead991db50d586d4970da24748b9717067065a6beb758f66e/9.4.8/lib/x86_64-linux-ghc-9.4.8/hsqlparser-0.1.0.0-6kVXX5siyil3nyrXDk8K0W/libHShsqlparser-0.1.0.0-6kVXX5siyil3nyrXDk8K0W.a
  server/.stack-work/install/x86_64-linux-tinfo6/61e1d6b6b8a52e8ead991db50d586d4970da24748b9717067065a6beb758f66e/9.4.8/lib/x86_64-linux-ghc-9.4.8/libHShsqlparser-0.1.0.0-6kVXX5siyil3nyrXDk8K0W-ghc9.4.8.so
  server/.stack-work/install/x86_64-linux-tinfo6/61e1d6b6b8a52e8ead991db50d586d4970da24748b9717067065a6beb758f66e/9.4.8/pkgdb/hsqlparser-0.1.0.0-6kVXX5siyil3nyrXDk8K0W.conf
  server/.stack-work/install/x86_64-linux-tinfo6/61e1d6b6b8a52e8ead991db50d586d4970da24748b9717067065a6beb758f66e/9.4.8/pkgdb/package.cache
  server/.stack-work/stack.sqlite3
  server/build_parser.sh
  server/demo.sql
  server/execution_engine.py
  server/haskell_parser.py
  server/hsqlparser.cabal
  server/package.yaml
  server/parser.hs
  server/server.py
Labels: client, server

fixed everything (in theory) ready for demo, DONT TOUCH ANYTHING!
  README.md
  client/cli_client.py
  client/demo.sql
  server/catalog_manager.py
  server/demo.sql
  server/planner.py
  server/query_processor/dml_executor.py
Labels: client, server, documentation

working on tests and obscure performance things.
  client/demo.sql
  docs/presentation.tex
  docs/short_prez.tex
  results.log
  run_parser_tests.py
  server/build_parser.sh
  server/catalog_manager.py
  server/ddl_processor/schema_manager.py
  server/execution_engine.py
  server/haskell_parser.py
  server/parser.hs
  server/parser.py
  server/parsers/condition_parser.py
  server/parsers/expression_parser.py
  server/planner.py
  server/query_processor/aggregate_executor.py
  server/query_processor/dml_executor.py
  server/query_processor/group_by_executor.py
  server/query_processor/select_executor.py
  server/sqlglot_parser.py
  server/utils/sql_helpers.py
  tests/test_ddl/test_tables_ops.py
  tests/test_execution/test_indexes.py
  tests/test_integration/test_query_lifecycle.py
  tests/test_parser/conftest.py
  tests/test_parser/test_complex_queries.py
  tests/test_parser/test_ddl_parser.py
  tests/test_parser/test_dml_parser.py
  tests/test_parser/test_sqlglot_parser.py
Labels: client, server, documentation
