Repository Dedzsinator/pyHMSSQL, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, shared, tests, database, query-engine, parser, indexing, transactions, storage, documentation, workflow, dependencies, configuration, python, cython

Comprehensive GitHub Actions CI/CD pipeline automation and All tests pass
  .github/release-drafter.yml
  .github/workflows/benchmark.yml
  .github/workflows/dependency-updates.yml
  .github/workflows/issue-management.yml
  .github/workflows/pylint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: workflow

maybe fixed
  requirements.txt
  server/benchmark.py
  server/test.py
  tests/test_execution/test_indexes.py
Labels: server, tests, dependencies, python

consolidated profiling.
  docs/execution_time_trends.png
  docs/memory_usage_comparison.png
  docs/operation_category_analysis.png
  docs/operation_performance_comparison.png
  docs/performance_dashboard.png
  docs/performance_heatmap.png
  docs/system_resource_analysis.png
  server/bptree_visualizer.py
  server/perf_profiler.py
  tests/generate_profiling_visualizations.py
  tests/test_comprehensive_profiling.py
  tests/test_data_verification.py
Labels: server, tests, indexing, storage, documentation, python

please work
  .github/workflows/release.yml
  .github/workflows/test.yml
  requirements.txt
  server/build/lib.linux-x86_64-cpython-313/bptree_optimized.cpython-313-x86_64-linux-gnu.so
  server/build/temp.linux-x86_64-cpython-313/bptree_optimized.o
  tests/conftest.py
Labels: server, tests, workflow, dependencies, python

Added Multidimensional B+ tree. (it was long)...
  server/bptree_optimized.c
  server/bptree_optimized.cpython-313-x86_64-linux-gnu.so
  server/bptree_optimized.pyx
  server/bptree_visualizer.py
  server/build/lib.linux-x86_64-cpython-313/bptree_optimized.cpython-313-x86_64-linux-gnu.so
  server/build/temp.linux-x86_64-cpython-313/bptree_optimized.o
  tests/test_bptree/__init__.py
  tests/test_bptree/debug_methods.py
  tests/test_bptree/debug_multidim_issue.py
  tests/test_bptree/debug_tests.py
  tests/test_bptree/fix_tests.py
  tests/test_bptree/pytest.ini
  tests/test_bptree/test_bptree_comprehensive.py
  tests/test_bptree/test_multidimensional.py
  tests/test_bptree/test_performance.py
  tests/test_bptree/test_quick_validation.py
  tests/test_comprehensive_profiling.py
  tests/test_config.py
Labels: server, tests, indexing, storage, python, cython

i guess in rafting now. Need to test on multiple hardware!
  Dockerfile
  Dockerfile.orchestrator
  README.md
  demo/final_demo.py
  docs/PRODUCTION_RUNBOOK.md
  k8s/deploy.sh
  k8s/hmssql-cluster.yaml
  k8s/production_validator.py
  k8s/security-policies.yaml
  k8s/test-integration.sh
  orchestrator/dashboard_templates.py
  orchestrator/orchestrator.py
  requirements.txt
  server/build/lib.linux-x86_64-cpython-313/hyperoptimized_sort.cpython-313-x86_64-linux-gnu.so
  server/build/temp.linux-x86_64-cpython-313/hyperoptimized_sort.o
  server/hyperoptimized_sort.cpp
  server/hyperoptimized_sort.cpython-313-x86_64-linux-gnu.so
  server/hyperoptimized_sort.html
  server/hyperoptimized_sort.pyx
  server/hyperoptimized_sort_corrupted.pyx
  server/raft_consensus.py
  server/raft_performance.py
  server/scaler.py
  server/security_manager.py
  server/setup_hyperopt_sort.py
  server/test_hyperoptimized_sort.py
  tests/benchmark_production.py
  tests/benchmark_quick.py
  tests/test_end_to_end.py
  tests/test_raft_integration.py
Labels: server, tests, documentation, dependencies, python, cython

added custom sorting.
  server/build/lib.linux-x86_64-cpython-313/hyperoptimized_sort.cpython-313-x86_64-linux-gnu.so
  server/build/temp.linux-x86_64-cpython-313/hyperoptimized_sort.o
  server/catalog_manager.py
  server/hyperopt_integration.py
  server/hyperoptimized_sort.cpp
  server/hyperoptimized_sort.cpython-313-x86_64-linux-gnu.so
  server/hyperoptimized_sort.html
  server/hyperoptimized_sort.pyx
  server/hyperoptimized_sort_clean.pyx
  server/production_integration_test.py
  server/query_processor/select_executor.py
  server/test_hyperoptimized_sort.py
Labels: server, database, query-engine, python, cython

trying
  requirements.txt
  server/__init__.py
  server/catalog_manager.py
  server/data_processor/__init__.py
  server/ddl_processor/function_manager.py
  server/ddl_processor/procedure_manager.py
  server/ddl_processor/temp_table_manager.py
  server/ddl_processor/trigger_manager.py
  server/execution_engine.py
  server/planner.py
  server/sqlglot_parser.py
  tests/test_ddl/test_function_manager.py
  tests/test_ddl/test_procedure_manager.py
  tests/test_ddl/test_temp_table_manager.py
  tests/test_ddl/test_temp_table_manager_new.py
  tests/test_ddl/test_trigger_manager.py
  tests/test_ddl/test_trigger_manager_new.py
  tests/test_execution/test_execution_engine_integration.py
Labels: server, tests, database, query-engine, parser, dependencies, python

chore: update dependencies
  requirements.in
  requirements.txt
Labels: dependencies

raft tests are passing, mostly
  .github/workflows/test.yml
  orchestrator/orchestrator.py
  server/bptree_visualizer.py
  server/ddl_processor/function_manager.py
  server/raft_consensus.py
  server/scaler.py
  tests/test_ddl/test_temp_table_manager_new.py
  tests/test_raft_integration.py
Labels: server, tests, indexing, storage, workflow, python

the tests are passing.
  orchestrator/orchestrator.py
  orchestrator/stats_collector.py
  server/raft_consensus.py
  tests/benchmark_production.py
  tests/test_end_to_end.py
  tests/test_raft_integration.py
Labels: server, tests, python

fixing additionally
  server/bptree_visualizer.py
Labels: server, indexing, storage, python

modified workflow
  .github/.pre-commit-config.yaml
  .github/workflows/test.yml
Labels: workflow

in theory advanced optimizer added.
  .github/workflows/test.yml
  adaptive_optimizer_data/plan_baselines.pkl
  adaptive_optimizer_data/recent_feedback.pkl
  server/OPTIMIZER_COMPLETION_REPORT.md
  server/OPTIMIZER_README.md
  server/access_path_selector.py
  server/adaptive_optimizer.py
  server/advanced_statistics.py
  server/circular_cache.py
  server/cost_estimator.py
  server/final_summary.py
  server/join_order_enumerator.py
  server/ml_extensions.py
  server/optimizer.py
  server/optimizer_benchmark.py
  server/optimizer_compat.py
  server/optimizer_demo.py
  server/query_transformer.py
  server/test_comprehensive_optimizer.py
  server/test_optimizer_integration.py
  server/unified_optimizer.py
Labels: server, query-engine, documentation, workflow, python

Fix multimodel integration tests - eliminate duplicate test execution and add resource isolation
  tests/test_multimodel/test_multimodel_integration.py
Labels: tests, python

removed thinfs
  .coverage
  coverage.xml
  test-results.xml
  test_multimodel_performance.py
Labels: python

fixed some tests again (its a miracle if it passes)
  .github/workflows/test.yml
  server/optimizer.py
  tests/test_multimodel/test_multimodel_integration.py
  tests/test_multimodel/test_multimodel_performance.py
Labels: server, tests, query-engine, workflow, python

readme update
  README.md
Labels: documentation

fixed the tests
  .github/workflows/pylint.yml
  .github/workflows/test.yml
Labels: workflow

chore: update dependencies
  requirements.in
  requirements.txt
Labels: dependencies

Added custom in-memory caching db storage. All tests pass currently
  .gitignore
  HYPERKV_FINAL_SUMMARY.md
  HYPERKV_TEST_MIGRATION_SUMMARY.md
  TEST_RESULTS_AND_USAGE.md
  kvstore/README.md
  kvstore/__init__.py
  kvstore/benchmarks/benchmark.py
  kvstore/config.py
  kvstore/core/__init__.py
  kvstore/core/cache.py
  kvstore/core/config.py
  kvstore/core/server.py
  kvstore/core/ttl.py
  kvstore/crdt/__init__.py
  kvstore/examples/basic_usage.py
  kvstore/k8s/hyperkv-configmap.yaml
  kvstore/k8s/hyperkv-secret.yaml
  kvstore/k8s/hyperkv-statefulset.yaml
  kvstore/main.py
  kvstore/minimal_test.py
  kvstore/networking/__init__.py
  kvstore/pubsub/__init__.py
  kvstore/raft/__init__.py
  kvstore/storage/__init__.py
  kvstore/test_server_startup.py
  kvstore/test_units.py
  kvstore/tests/test_core.py
  pytest.ini
  tests/test_hyperkv_components.py
  tests/test_hyperkv_core_benchmarks.py
  tests/test_hyperkv_core_components.py
  tests/test_hyperkv_integration.py
  tests/test_hyperkv_minimal_integration.py
  tests/test_hyperkv_production_benchmarks.py
  tests/test_hyperkv_server_debug.py
Labels: tests, documentation, configuration, python

chore: update dependencies
  requirements.in
  requirements.txt
Labels: dependencies

cleanup
  MULTIMODEL_COMPLETE_GUIDE.md
  MULTIMODEL_INTEGRATION_GUIDE.md
  TEST_RESULTS_AND_USAGE.md
Labels: documentation

trying to add advanced (probably last) features. the tests will fail now
  kvstore/compression/__init__.py
  kvstore/consistency/__init__.py
  kvstore/core/config.py
  kvstore/core/server.py
  kvstore/crdt/__init__.py
  kvstore/shards/__init__.py
  kvstore/shards/advanced_shard_system.py
  kvstore/storage/lsm_tree.py
  kvstore/storage/wal.py
  kvstore/tests/test_core.py
  kvstore/zerocopy/__init__.py
  tests/test_advanced_distributed/.coverage
  tests/test_advanced_distributed/__init__.py
  tests/test_advanced_distributed/conftest.py
  tests/test_advanced_distributed/pytest.ini
  tests/test_advanced_distributed/run_tests.py
  tests/test_advanced_distributed/test_compression.py
  tests/test_advanced_distributed/test_consistency.py
  tests/test_advanced_distributed/test_crdt.py
  tests/test_advanced_distributed/test_end_to_end.py
  tests/test_advanced_distributed/test_integration.py
  tests/test_advanced_distributed/test_networking.py
  tests/test_advanced_distributed/test_raft.py
  tests/test_advanced_distributed/test_reports/junit.xml
  tests/test_advanced_distributed/test_reports/test_summary.json
  tests/test_advanced_distributed/test_sharding.py
  tests/test_advanced_distributed/test_wal.py
  tests/test_advanced_distributed/test_zerocopy.py
Labels: tests, python

chore: update dependencies
  requirements.in
  requirements.txt
Labels: dependencies

trying to fix all tests. 62+ fails
  server/multimodel/document_store/doc_adapter.py
  server/sqlglot_parser.py
  tests/test_advanced_functionality.py
  tests/test_client/test_rest_api_client.py
  tests/test_execution/test_advanced_dml.py
  tests/test_integration/test_cross_component_integration.py
  tests/test_multimodel/test_document_store_adapter.py
  tests/test_multimodel/test_graph_store_adapter.py
  tests/test_multimodel/test_object_relational_adapter.py
  tests/test_optimization/test_performance_optimization.py
  tests/test_parser/test_sqlglot_parser.py
Labels: server, tests, parser, python

added little enhancements to the java gui
  Dockerfile
  client/java_client/src/main/java/com/pyhmssql/client/config/ConfigurationManager.java
  client/java_client/src/main/java/com/pyhmssql/client/main/App.java
  client/java_client/src/main/java/com/pyhmssql/client/main/MainWindow.java
  client/java_client/src/main/java/com/pyhmssql/client/theme/ThemeManager.java
  client/java_client/src/main/java/com/pyhmssql/client/utils/AppInfo.java
  client/java_client/src/main/java/com/pyhmssql/client/utils/GlobalExceptionHandler.java
  debug_stats.py
  test_integration.py
Labels: client, python

fixed some tests and fixed the borken SHOW command (again) trying to make the big orchestrator work
  .gitignore
  debug_stats.py
  demo/demo_multimodel.py
  demo/demo_multimodel_standalone.py
  demo/final_demo.py
  kvstore/crdt/__init__.py
  kvstore/raft/__init__.py
  orchestrator/orchestrator.py
  orchestrator/start_orchestrator.sh
  orchestrator/stats_collector.py
  requirements.txt
  server/bptree_optimized.html
  server/multimodel/document_store/doc_adapter.py
  server/planner.py
  server/server.py
  server/sqlglot_parser.py
  test_integration.py
  tests/test_advanced_distributed/test_end_to_end.py
  tests/test_advanced_distributed/test_integration.py
  tests/test_advanced_distributed/test_sharding.py
  tests/test_multimodel/test_document_store_adapter.py
Labels: server, tests, query-engine, parser, dependencies, configuration, python

orchestrator kinda works
  orchestrator/debug_test.py
  orchestrator/discovery_test.py
  orchestrator/orchestrator.log
  orchestrator/orchestrator.py
  test_orchestrator.py
Labels: python

made an orchestrator dashboard in svelte with simpler orchestrator api
  .gitignore
  orchestrator/dashboard_templates.py
  orchestrator/debug_test.py
  orchestrator/discovery_test.py
  orchestrator/lightweight_orchestrator.py
  orchestrator/orchestrator.log
  orchestrator/orchestrator.py
  orchestrator/package-lock.json
  orchestrator/package.json
  orchestrator/public/build/bundle.css
  orchestrator/public/build/bundle.js
  orchestrator/public/build/bundle.js.map
  orchestrator/public/global.css
  orchestrator/rollup.config.js
  orchestrator/src/App.svelte
  orchestrator/src/components/ClusterOverview.svelte
  orchestrator/src/components/LogViewer.svelte
  orchestrator/src/components/MetricsPanel.svelte
  orchestrator/src/components/NodeGrid.svelte
  orchestrator/src/components/TopologyGraph.svelte
  orchestrator/src/main.js
  orchestrator/start_orchestrator.sh
  orchestrator/stats_collector.py
  tests/test_functionality.py
Labels: tests, configuration, python

Fix statistics module naming conflict
  server/db_statistics.py
  server/optimizer_benchmark.py
  server/unified_optimizer.py
Labels: server, python

reorganized some files and fixed naming issues
  README_MODERNIZED.md
  server/bptree.c
  server/bptree.cpython-313-x86_64-linux-gnu.so
  server/build/lib.linux-x86_64-cpython-313/bptree.cpython-313-x86_64-linux-gnu.so
  server/build/temp.linux-x86_64-cpython-313/bptree.o
  server/build_bptree.sh
  server/multimodel/graph_store/graph_adapter.py
  server/query_processor/dml_executor.py
  server/utils/visualizer.py
Labels: server, query-engine, documentation, python, cython

partially enhanced the java gui
  client/java_client/src/main/java/com/pyhmssql/client/main/App.java
  client/java_client/src/main/java/com/pyhmssql/client/main/ConnectionManager.java
  client/java_client/src/main/java/com/pyhmssql/client/main/MainWindow.java
  client/java_client/src/main/java/com/pyhmssql/client/utils/EnhancedGlobalExceptionHandler.java
  client/java_client/src/main/java/com/pyhmssql/client/views/AdvancedFeaturesDialog.java
  client/java_client/src/main/java/com/pyhmssql/client/views/DbExplorer.java
  client/java_client/src/main/java/com/pyhmssql/client/views/QueryBuilderDialog.java
  client/java_client/src/main/java/com/pyhmssql/client/views/QueryEditor.java
  client/java_client/src/main/java/com/pyhmssql/client/views/QueryHistoryDialog.java
  client/java_client/src/main/resources/app.properties
  client/java_client/src/main/resources/styles/modern.css
Labels: client

revamped java client (its not taht good)
  client/java_client/pom.xml
  client/java_client/src/main/java/com/pyhmssql/client/main/App.java
  client/java_client/src/main/java/com/pyhmssql/client/main/ConnectionManager.java
  client/java_client/src/main/java/com/pyhmssql/client/main/MainWindow.java
  client/java_client/src/main/java/com/pyhmssql/client/utils/EnhancedGlobalExceptionHandler.java
  client/java_client/src/main/java/com/pyhmssql/client/utils/SQLSyntaxHighlighter.java
  client/java_client/src/main/java/com/pyhmssql/client/views/AdvancedFeaturesDialog.java
  client/java_client/src/main/java/com/pyhmssql/client/views/DbExplorer.java
  client/java_client/src/main/java/com/pyhmssql/client/views/LoginPanel.java
  client/java_client/src/main/java/com/pyhmssql/client/views/QueryBuilderDialog.java
  client/java_client/src/main/resources/styles/base.css
  requirements.txt
Labels: client, dependencies

stll doenst work...
  client/java_client/src/main/java/com/pyhmssql/client/main/ConnectionManager.java
  client/java_client/src/main/java/com/pyhmssql/client/main/MainWindow.java
  client/java_client/src/main/java/com/pyhmssql/client/utils/SQLFormatter.java
  client/java_client/src/main/java/com/pyhmssql/client/utils/SQLSyntaxHighlighter.java
  client/java_client/src/main/java/com/pyhmssql/client/views/DbExplorer.java
  client/java_client/src/main/java/com/pyhmssql/client/views/LoginPanel.java
  client/java_client/src/main/java/com/pyhmssql/client/views/QueryEditor.java
  client/java_client/src/main/java/com/pyhmssql/client/views/UserPreferencesDialog.java
  client/java_client/src/main/java/com/pyhmssql/client/views/VisualQueryBuilder.java
  client/java_client/src/main/resources/styles/base.css
Labels: client

gui kinda works (its a mess)
  client/java_client/pom-modern.xml
  client/java_client/pom.xml
  client/java_client/src/main/java/com/pyhmssql/client/modern/Launcher.java
  client/java_client/src/main/java/com/pyhmssql/client/modern/ModernHMSSQLClient.java
  server/.stack-work/install/x86_64-linux-tinfo6/61e1d6b6b8a52e8ead991db50d586d4970da24748b9717067065a6beb758f66e/9.4.8/pkgdb/package.cache
  server/.stack-work/install/x86_64-linux-tinfo6/61e1d6b6b8a52e8ead991db50d586d4970da24748b9717067065a6beb758f66e/9.4.8/pkgdb/package.cache.lock
  server/.stack-work/stack.sqlite3
  server/.stack-work/stack.sqlite3.pantry-write-lock
Labels: client, server

fixed part of the tests
  tests/test_advanced_distributed/test_end_to_end.py
  tests/test_advanced_distributed/test_integration.py
Labels: tests, python

added compression manager another couple of tests passed
  client/orchestrator/orchestrator_simple.py
  kvstore/compression/__init__.py
  kvstore/crdt/__init__.py
  kvstore/raft/__init__.py
  kvstore/shards/__init__.py
  kvstore/shards/config.py
  kvstore/shards/consistent_hash.py
  kvstore/shards/shard.py
  kvstore/storage/wal.py
  kvstore/zerocopy/__init__.py
  server/planner.py
  server/server.py
  server/utils/visualizer.py
  test_compression_demo.py
  tests/test_advanced_distributed/conftest.py
  tests/test_advanced_distributed/pytest.ini
  tests/test_advanced_distributed/test_end_to_end.py
  tests/test_advanced_distributed/test_integration.py
  tests/test_advanced_distributed/test_raft.py
  tests/test_advanced_distributed/test_sharding.py
  tests/test_multimodel/test_document_store_adapter.py
Labels: client, server, tests, query-engine, python

Fix zerocopy module with missing statistics fields
  kvstore/zerocopy/__init__.py
Labels: python

Fix zerocopy tests: Add missing statistics fields and fix exception types
  kvstore/zerocopy/__init__.py
Labels: python

.github/labeler.yml:

# Configuration for the GitHub Labeler Action
# https://github.com/actions/labeler

# Component labels
client:
  - client/**/*
  - client/**/*.py

server:
  - server/**/*
  - server/**/*.py

shared:
  - shared/**/*

tests:
  - tests/**/*
  - tests/**/*.py

# Feature area labels
database:
  - server/catalog_manager.py
  - server/**/catalog/**/*

query-engine:
  - server/execution_engine.py
  - server/query_processor/**/*
  - server/planner.py
  - server/optimizer.py

parser:
  - server/parser.py
  - server/sqlglot_parser.py
  - server/**/parser/**/*

indexing:
  - server/index_manager.py
  - server/bptree*.py
  - server/**/index/**/*

transactions:
  - server/transaction/**/*
  - tests/test_transactions/**/*

storage:
  - server/buffer_pool_manager.py
  - server/bptree*.py

# Type labels
documentation:
  - "**/*.md"
  - "*.md"
  - docs/**/*

# Workflow and config labels
workflow:
  - .github/**/*

dependencies:
  - requirements.txt
  - pyproject.toml
  - setup.py

configuration:
  - "*.yml"
  - "*.yaml"
  - "*.toml"
  - "*.ini"
  - ".gitignore"
  - ".gitattributes"

# Language labels
python:
  - "**/*.py"

cython:
  - "**/*.pyx"
  - "**/*.c"
